.navbar {
    background-color: #2e8b57;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: relative;
    z-index: 1000;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    gap: 2rem;
  }
  
  .nav-links li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 3px;
  }
  
  @media (max-width: 768px) {
    .hamburger {
      display: flex;
    }
  
    .nav-links {
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #2e8b57;
        display: none;
        padding: 1rem 0;
        text-align: center;
        z-index: 999; 
        margin: 0;
      }
      
  
    .nav-links.open {
      display: flex;
    }
  }
  