.navbar {
    background-color: #F1F8E9;
    color: rgb(200, 197, 176);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: .8rem 3rem;
    z-index: 1000;

  }
  
  .navbar-logo img.logo-img {
    height: 80px;
    width: auto;
    object-fit: contain;
    margin-right: 1rem;
  }
  
  
  .nav-links {
    display: flex;
    list-style: none;
    gap: 2rem;
  }
  
  .nav-links li a {
    color: rgb(53, 140, 55);
    text-decoration: none;
    font-weight: bold;
  }
  
  .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: rgb(53, 140, 55);
    border-radius: 3px;
  }
  
  @media (max-width: 768px) {
    .hamburger {
      display: flex;
    }
  
    .nav-links {
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #F1F8E9;
        display: none;
        padding: 1rem 0;
        text-align: center;
        z-index: 999; 
        margin: 0;
      }
      
  
    .nav-links.open {
      display: flex;
    }
  }
  