@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&family=Outfit&display=swap');
* {
    margin: 0rem;
    padding: 0rem;
}

html {

    font-size: 62%;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;

}
/* BEGINING OF NAV BAR  */
nav {

    padding: 3rem 10rem;
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;

}

.logo {

    font-size: 2rem;


}

.logo a {
    text-decoration: none;
    color: rgba(59, 165, 32, 0.974);
}

.logo a:hover {
    color: black;
}

.navList {
    display: flex;
    justify-content: space-between;

}

.navList li {
    list-style: none;
    font-size: 1.5rem;
    margin: 0rem 2rem;
}

.navList a {
    text-decoration: none;
    color: black;
    font-weight: 900;

}

.navList a:hover {
    color: green;
}
.burger{
    display:none;
}
.burger {
    display: none;
}

.bar {

    display: block;
    width: 3rem;
    height: .5rem;
    margin: .5rem auto;
    background-color: black;

}
/* END OF NAV BAR  */
/*  BEINGING OF MENU */
.headingImg{
    border-radius: 1rem 1rem 0rem 0rem;
    text-align: center;
    background-image: url("menuBackground.webp");
    padding: 15rem 0rem;
    font-size: 5rem;
    color: white;
    text-shadow: .2rem .2rem black;
}
.headingImg h1 { 
    font-size: 3rem;
}
.headingImg h3 { 
    font-size: 4rem;
}
.menu-text button{ 
    font-size: 5rem;
    color:rgba(59, 165, 32, 0.974) ;
}



@media screen and (max-width: 500px) {

    nav {
        padding: 3rem 2rem;
        display: flex;
        justify-content: space-between;
        background-color: whitesmoke;
    }

    .navList {
        overflow: hidden;
        background-color: green;
        left: 100rem;
        right: 0rem;
        top: 8rem;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: .5s ease-out;

    }

    .navList li {
        margin: .1rem;
        font-size: 2.5rem;
    }

    .burger {
        display: block;
        transition: .5s ease-out;
    }

    .burger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .burger.active .bar:nth-child(1) {
        transform: translateY(1rem) rotate(45deg);
        transition: ease-in-out .5s;
    }

    .burger.active .bar:nth-child(3) {
        transform: translateY(-1rem) rotate(-45deg);
        transition: ease-in-out .5s;
    }

    .menu {
        overflow: hidden;
        background-color: white;
        left: 0rem;
        right: 0rem;
        top: 8rem;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: .2s ease-in-out;
    }
}