
.navBackground { 
    background-color: rgb(137, 250, 131);
}
.center-button-container {
    height: 87vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("pictures/nataliebackground.jpg");
    background-size: cover;

  }
.menuButton {
    border: none;
    color: black;
    margin-top: 200px; 
    padding: 20px 50px;
    background-color:rgb(137, 250, 131);
}