/* Base styles for the menu */
.menu {
    padding: 2rem;
    background-color: #FFFBEA;
    min-height: 100vh;
    box-sizing: border-box;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 2rem;
    color: #76b852;
  }
  .menu-text-container { 
    text-align: center;
    padding: 0rem;
    margin: 0;
  }
  .menu-text-container p  { 
    font-style: italic;
  }
 .menu-text {
  display: inline-block;
  color: #4B4B4B;
  border-bottom: 0.1rem solid #76b852;
  font-size: 2.5rem;
  text-align: center;
}
  .category-section {
    margin-bottom: 1rem;
  }
  
  .category-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 500;
    cursor: pointer;
    padding: 1rem;
    color: #4B4B4B;
    margin-bottom: 1rem;
    border-bottom: #76b852 solid .1rem;
    transition: background-color 0.3s ease;
  }
  
  .category-section h2 {
    margin: 0;
  }
  
  .category-section span {
    font-size: 1.5rem;
  }
  
  .drink-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }
  
  .drink-card {
    width: 250px;
    
 
    padding: 1rem;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
  }
  
  .drink-card:hover {
    transform: scale(1.03);
  }
  
  .drink-img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .drink-info {
    margin-top: 10px;
  }
  
  /* Responsive for smaller screens */
  @media (max-width: 768px) {
    .drink-gallery {
      flex-direction: column;
      align-items: center;
    }
  
    .drink-card {
      width: 100%;
      max-width: 350px;
    }

    .drink-img {
    width: 100%;
    height: 180px;
    object-fit: contain;
    border-radius: 10px;
    }
    .category-header {
      font-size: 1.5rem;
    }
  
    .category-section h2 {
      font-size: 1.5rem;
    }
  
    .category-section span {
      font-size: 1.3rem;
    }
  }
  
  @media (max-width: 480px) {
    .category-header {
      font-size: 1.3rem;
    }
  
    .drink-card {
      width: 50%;
      max-width: 320px;
    }
  
    .category-section span {
      font-size: 1.1rem;
    }
  }
  